<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
	   <IntelligentReach_EbayPayment>
		  <version>1.0.35</version>
	   </IntelligentReach_EbayPayment>
	</modules>
	<global>
    <blocks>
        <ebaypayment>
            <class>IntelligentReach_EbayPayment_Block</class>
        </ebaypayment>
    </blocks>
         <helpers>
            <ebaypayment>  
                <class>IntelligentReach_EbayPayment_Helper</class>
            </ebaypayment>
        </helpers>
		<models>
			<ebaypayment>
				<class>IntelligentReach_EbayPayment_Model</class>
			</ebaypayment>
		</models>
 
		<resources>
			<ebaypayment_setup>
				<setup>
					<module>IntelligentReach_EbayPayment</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ebaypayment_setup>
			<ebaypayment_write>
				<connection>
				  <use>core_write</use>
				</connection>
			</ebaypayment_write>
			<ebaypayment_read>
			   <connection>
				<use>core_read</use>
			  </connection>
			</ebaypayment_read>
		</resources>
	</global>
 
	<default>
		<payment>
			<ebaypayment>
				<active>1</active>
				<model>ebaypayment/pay</model>
				<order_status>pending</order_status>
				<title>eBay Payment</title>
			</ebaypayment>
		 </payment>
	</default>
</config>