<?xml version="1.0"?>
<config>
		<modules>
				<IntelligentReach_Integration>
						<version>1.0.37</version>
				</IntelligentReach_Integration>
		</modules>
		<frontend>
				<layout>
						<updates>
								<IntelligentReach_Integration>
										<file>intelligentreach_integration.xml</file>
								</IntelligentReach_Integration>
						</updates>
				</layout>
		</frontend>
</config>