<?xml version="1.0"?>
    <config>
        <modules>
            <IntelligentReach_OrderExporter>
                <version>1.0.40</version>
            </IntelligentReach_OrderExporter>
        </modules>
		<global>
			<models>
				<intelligentreach_orderexporter>
					<class>IntelligentReach_OrderExporter_Model</class>
				</intelligentreach_orderexporter>
				<sales>
					<rewrite>
						<quote_address_total_shipping>IntelligentReach_OrderExporter_Model_Quote_Address_Total_Shipping</quote_address_total_shipping>
					</rewrite>
				</sales>
				<checkout>
					<rewrite>
						<cart_shipping_api>IntelligentReach_OrderExporter_Model_Cart_Shipping_Api</cart_shipping_api>
						<cart_shipping_api_v2>IntelligentReach_OrderExporter_Model_Cart_Shipping_Api_V2</cart_shipping_api_v2>
						<cart_api>IntelligentReach_OrderExporter_Model_Cart_Api</cart_api>
						<cart_api_v2>IntelligentReach_OrderExporter_Model_Cart_Api_V2</cart_api_v2>
						<cart_product_api>IntelligentReach_OrderExporter_Model_Cart_Product_Api</cart_product_api>
						<cart_product_api_v2>IntelligentReach_OrderExporter_Model_Cart_Product_Api_V2</cart_product_api_v2>
					</rewrite>
				</checkout>
			</models>
		</global>
		<default>
			<carriers>
				<intelligentreach_orderexporter>
					<active>1</active>
					<model>intelligentreach_orderexporter/carrier</model>
					<title>Intelligent Reach Order Exporter</title>
					<name>Intelligent Reach Order Exporter</name>
					<sort_order>10</sort_order>
					<sallowspecific>0</sallowspecific>
				</intelligentreach_orderexporter>
			</carriers>
		</default>
    </config>