<?xml version="1.0"?>
    <config>
        <modules>
            <IntelligentReach_IRShipping>
                <version>1.0.35</version>
            </IntelligentReach_IRShipping>
        </modules>
				<global>
						<models>
								<intelligentreach_irshipping>
										<class>IntelligentReach_IRShipping_Model</class>
								</intelligentreach_irshipping>
								<sales>
									<rewrite>
										<quote_address_total_shipping>IntelligentReach_IRShipping_Model_Quote_Address_Total_Shipping</quote_address_total_shipping>
									</rewrite>
								</sales>
								<checkout>
										<rewrite>
											<cart_shipping_api>IntelligentReach_IRShipping_Model_Cart_Shipping_Api</cart_shipping_api>
											<cart_shipping_api_v2>IntelligentReach_IRShipping_Model_Cart_Shipping_Api_V2</cart_shipping_api_v2>
											<cart_api>IntelligentReach_IRShipping_Model_Cart_Api</cart_api>
											<cart_api_v2>IntelligentReach_IRShipping_Model_Cart_Api_V2</cart_api_v2>
										</rewrite>
								</checkout>
						</models>
				</global>
				<default>
					<carriers>
							<intelligentreach_irshipping>
									<active>1</active>
									<model>intelligentreach_irshipping/carrier</model>
									<title>Intelligent Reach Shipping</title>
									<name>Intelligent Reach Shipping</name>
									<sort_order>10</sort_order>
									<sallowspecific>0</sallowspecific>
							</intelligentreach_irshipping>
					</carriers>
				</default>
    </config>